<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Search something</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    </head>
    <body>
        {% block content %}
            {# подтягиваем контент из темплейта #}
        {% endblock %}
    </body>
</html>